.idea
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
# Avoid ignore Gradle wrappper properties
# Cache of project
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
